snippet wiki_php
	{{{class="brush:php"
	${1}
	}}}	
snippet wiki_shell
	{{{class="brush:shell"
	${1}
	}}}	
snippet wiki_js
	{{{class="brush:js"
	${1}
	}}}	
snippet wiki_html
	{{{class="brush:html"
	${1}
	}}}	
snippet wiki_css
	{{{class="brush:css"
	${1}
	}}}	
snippet wiki_java
	{{{class="brush:java"
	${1}
	}}}	
snippet wiki_python
	{{{class="brush:python"
	${1}
	}}}	
